html
  font-size: 14px

body
  color: color.primary
  font: 300 1rem/1.2 BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif
  line-height: 1.5rem

.code,
.tt,
code,
tt
  font-family: Consolas, Courier New, monospace

h1
  font-size: pxToRem(100)
  //letter-spacing: -0.05em
  font-weight: fontWeight.bold
  line-height: 1

  @media (min-width: breakpoint.medium)
    font-size: 8rem

  @media (min-width: breakpoint.large)
    font-size: 10rem

.t-label
  font-size: .8rem
  color: color.primary
  font-weight: fontWeight.normal
  text-transform: uppercase

  @media (min-width: breakpoint.medium)
    font-size: 1.1rem

  @media (min-width: breakpoint.large)
    font-size: 1.2rem

.t-monthPeriodLabel
  font-size: .7rem
  font-weight: fontWeight.normal
  color: color.primary
  line-height: 1.7
  text-transform: uppercase

  @media (min-width: breakpoint.medium)
    font-size: 1rem

  @media (min-width: breakpoint.large)
    font-size: 1.1rem

.t-daysPeriod
  font-size: 1.4rem
  font-weight: fontWeight.medium
  color: color.primary
  line-height: 1.3

  @media (min-width: breakpoint.medium)
    font-size: 1.6rem

  @media (min-width: breakpoint.large)
    font-size: 1.8rem

.t-day
  font-size: 1rem
  font-weight: fontWeight.medium
  color: color.primary
  line-height: 1

  @media (min-width: breakpoint.large)
    font-size: 1.5rem
